# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# loom
publish/
run/
local.properties

# Temp
.tmp/

# Deepseek harness
.dsh-meow/
